@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
    padding: 50px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-family: 'Lato', sans-serif;
}

a {
    color: #00B7FF;
}

.text-field {
    padding: 12px 1% 12px;
    border: none;
    border-bottom: solid 1px #ccc;
    margin-bottom: 2px;
    width: 98%;
}

.text-field:focus {
    border-bottom: solid 2px #00B7FF;
}

.login-form {
    border: solid 1px #00B7FF;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 400px;
    text-align: center;
}

.login-form table {
    width: 100%;
}

.login-form table td {
    height: 50px;
}

.login-form h2 {
    background: #00B7FF;
    color: #ffffff;
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {

    /* Retina-specific stuff here */
    .login-form {
        width: 100%;
    }

}

.list-panel {
    border: solid 1px steelblue;
    overflow: auto;
}

.list-item {
    display: block;
    border: solid 1px crimson;
}

.online-user-list {
    overflow: auto;
    border: solid 1px steelblue;
    padding: 2px;
}

.chat-item {
    overflow: auto;
    background: steelblue;
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 14px;
    padding: 6px;
}

.chat-room {
    overflow: auto;
    border: solid 1px green;
    padding: 4px;
}

.chat-room .floating-panel {
    float: left;
    overflow: auto;
}

.floating-panel.w30 {
    width: 30%;
}

.floating-panel.w70 {
    width: 70%;
}

.message-input {
    border: solid 1px purple;
}